<div>
  <!-- <div class="example-card">
    <a routerLink="/resturant-details/{{resturantDetails.restaurantId}}">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{resturantDetails.restaurantName|uppercase}}</mat-card-title>
          <mat-card-subtitle>{{resturantDetails.location|uppercase}}</mat-card-subtitle>
          <mat-card-subtitle>{{resturantDetails.ratings|uppercase}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src='data:image/jpeg;base64,{{resturantDetails.restaurantImage}}'>
        </mat-card-content>
      </mat-card>
    </a>
  </div> -->
</div>