mat-card{
  margin-left: 20%;
  align-items: center;
  width: 40%;
  width: 550px;
  margin: 150px auto 0 auto;
  margin-top: 5%;
  border: 2px solid rgb(235, 158, 158);
  border-radius: 15px;
  padding: 25px;
  background-color:#f1d0cc;
  color: #000;
  box-shadow: -2px 5px 15px #000;
}
  mat-form-field{
    
    width: 100%;
  }