<footer>
  <div id="foot">
    <div class="main1">
      <h1>Foodie</h1>
      <!-- Footer-links -->
      <ul>
        <li><strong>
            <!-- Footer Header -->
            <h4>ABOUT</h4>
          </strong></li>
        <li>We are an Food delevery company specialized in delevering food fresh and hot.</li>
      </ul>
    </div>
    <div class="main3">
      <!-- Footer-links -->
      <ul>
        <li>
            <!-- Footer Header -->
            <p>COMPANY</p>
          </li>
        <li><a routerLink="/home-view">Home</a> </li>
        <li><a routerLink="/about-view"> About</a>
      </ul>
    </div>
    <div class="main4">
      <!-- Footer-links -->
      <ul>
        <li>
            <!-- Footer Header -->
            <p>CONTACT</p>
          </li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +27 000 0004l</li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> foodie007@gmail.com</li>
      </ul>
    </div>

    <div class="main5">
      <!-- social media links -->
          <p class="head5">SOCIAL LINKS</p> 
      <ul class="iconmain">
         <div class="i">
        <li><a class="icon img-fluid" href="https://www.facebook.com/login/"><i class="fa fa-facebook"></i></a></li>
        <li><a class="icon  img-fluid" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fa fa-twitter"></i></a></li>
      </div> 
        <div class="i1">
        <li><a class="icon  imgfluid" href="#" (click)="logout()"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="icon img-fluid" href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
      </div>
      </ul>

    </div>
  </div>
</footer>
