<app-header></app-header>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>We are an Food delevery company specialized in delevering food fresh and hot.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <!-- <img src="../../assets/photos/Image20230125112546.jpg" alt="Jane" class="img-fluid" > -->
        <div class="container">
          <h2>Kshitiz Mishra</h2>
          <p class="title">Team member</p>
          <p>Full stack certified software devloper from NIIT</p>
          <p>kshitizmishra1234@gmail.com</p>
          <p><button class="button"><a href="https://mail.google.com/mail/u/0/?fs=1&to=kshitizmishra1234@gmail.com&su=SUBJECT&body=BODY&bcc=someone.else@example.com&tf=cm">Contact</a> </button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="../../assets/photos/Image20230201120239.jpg" alt="Mike" class="img-fluid"> -->
        <div class="container">
          <h2>Sagar Bhoir</h2>
          <p class="title">Team member</p>
          <p>Full stack certified software devloper from NIIT</p>
          <p>sgrbhoir@123@gmail.com</p>
          <p><button class="button"><a href="https://mail.google.com/mail/u/0/?fs=1&to=sgrbhoir@123@gmail.com&su=feedback&body=BODY&bcc=someone.else@example.com&tf=cm">Contact</a> </button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="../../assets/photos/Image20230201120519.jpg" alt="John" class="img-fluid"> -->
        <div class="container">
          <h2>Shivani Pawade</h2>
          <p class="title">Team member</p>
          <p>Full stack certified software devloper from NIIT</p>
          <p>shivanipawade1997@gmail.com</p>
          <p><button class="button"><a href="https://mail.google.com/mail/u/0/?fs=1&to=shivanipawade1997@gmail.com&su=feedback&body=BODY&bcc=someone.else@example.com&tf=cm">Contact</a> </button></p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
