<app-header></app-header>
<div class="container">
  <!-- <mat-form-field class="example-form-field" appearance="fill" class="searchfield">
    <mat-label>{{filterType}}</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-form-field" class="searchfield">
    <mat-label>Search By </mat-label>
    <select matNativeControl required [(ngModel)]="filterType">
      <option value="itemName">Name</option>
      <option value="cuisine">cuisine</option>
      <option value="rating">ratings</option>
    </select>
  </mat-form-field> -->
  <mat-form-field appearance="fill" >
    <mat-label>Search By</mat-label>
    <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="example-form-field" appearance="fill" >
    <mat-label>{{filterType}}</mat-label>
    <input matInput type="text" placeholder="Search" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
</div>

<div class="resturant">
  <h2 style="font-family:cursive;">{{resturantDetails.restaurantName|uppercase}}</h2>
</div>
<div *ngFor="let item of resturantDetails.menuList|filter:value:selectedValue" class="example-card">
  <mat-card style="background-color: whitesmoke; color: black;text-align: center;" [class.mat-elevation-z6]="true">
    <mat-card-title><img mat-card-image src='data:image/jpeg;base64,{{item.itemImage}}'></mat-card-title>
      <mat-card-title><h4>{{item.itemName|uppercase}}</h4></mat-card-title>
      <mat-card-title><h4>Price: {{item.itemPrice}}</h4></mat-card-title>
      <mat-card-title><h4>Rating: {{item.rating}}⭐</h4></mat-card-title>

    <mat-card-actions>
      <button mat-button (click)="UserFavorite(item)"><mat-icon>favorite</mat-icon></button>
      <button mat-button (click)="addToCart(item)"><mat-icon>shopping_cart</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<br>
<br>
<app-footer></app-footer>